
<div class="container">
<div class="row">
   <div class="col s12">
    <h2>Sistema de gerenciamento de museus Spartan</h2>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p>O Spartan é um sistema de gerenciamento através da web, construído para automatizar o processo de gerenciamento de museus. O Spartan possibilita com que seus usuários insiram, editem, e visualizem informações sobre todos os museus onde os mesmos trabalham, incluíndo coleções e obras. Todas as alterações são salvas automáticamente em nosso sistema de banco de dados, fazendo com que você não precise se preocupar em realizar backups. </p>
    </div>
</div>

<div class="row">
    <h2 class="col s12">Por que usar o Spartan</h2>
    <div class="col s12">
			<p>
				O Spartan é um sistema criado com a intenção de automatizar o processo de catalogação de obras de museus, tornando esse processo mais rápido, simples e seguro. Atualmente, a catalogação das obras é feita de maneira manual, com papéis físicos, algo tedioso, demorado e propenso a erro humano. O Spartan se propõe a mudar esta realidade, colocando os museus na era digital.
			</p>
			<p>
				Além disso, o Spartan web se comunica automaticamente com nosso aplicativo mobile, que permite com que usuários comuns façam um tour virtual pelo museu de sua escolha. As coleções e obras disponíveis no tour virtual do aplciativo são constantemente atualizadas, de modo com que cada atualização no sistema web reflita no aplicativo. Por fim, o Spartan também disponibiliza os recursos de Libras e áudio descrição, buscando sempre a acessibilidade, beneficiando toda a sociedade. 
			</p>
    </div>
</div>

  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Banco de Dados</div>
      <div class="collapsible-body"><span>O Spartan se integra automaticamente com um banco de dados Postgres, de modo com que as informações inseridas sejam sempre salvas e fiquem seguras.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Controle de Login</div>
      <div class="collapsible-body"><span>Não preocupe-se com o controle de acesso ao sistema, o Spartan está munido com um sofisticado controle para que você possa adicionar e remover novos usuários no sistema de modo seguro, sem se preocupar com hackers.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Permissões de Acesso</div>
      <div class="collapsible-body"><span>O Spartan é um sistema que permite que cada usuário tenha acesso a partes específicas do sistema. Esta abordagem permite que você configure através da aplicação Permissões de forma segura quais áreas do sistema o usuário pode modificar, eliminando assim o medo de o usuário errado editar uma informação.</span></div>
    </li>
  </ul>
<div class="row">
       <div class='col s4 hide-on-med-and-down' style="padding:20px 20px 20px 10px">
        <img  style='width:80%; height:auto' src="/assets/logo/spartan_teste.jpg">
    </div>
    <div class='col s12 m8' >
        <h2>Agilidade na Inserção de Obras</h2>
        <p>Para inserir uma nova obra no sistema é muito fácil! Todos os campos pertinentes já estão no sistema, é só preenche-los com as informações da obra que deseja adicionar.</p>
        <h2>Uma interface Simples e Elegante</h2>
        <p>Todo o sistema web é feito utilizando o material design, dando uma cara moderna e arrojada a todas as telas do mesmo. Nada de interfaces Java estilo Windows 98!</p>

    </div>
</div>
<div class="row">
    <div class='col s12 m8'>
        <h1>Quem Usa</h1>
        <p>O Spartan foi desenvolvido inicialmente para a rede de museus gerenciada pela Universidade Federal de Pelotas (UFPEL). Porém, devido a sua simplicidade e o fato de o sistema ter sido feito de maneira genérica, qualquer museu pode utilizar o sistema, só é necessário o cadastro. </p>
        <h1>Desenvolvedores do Spartan</h1>
        <p>O sistema Spartan, tanto na sua versão web quanto mobile, foram concebidos e desenvolvidos por Nícoas Oreques de Araujo, Felipe Luzzardi da Rosa, Kristofer Kappel e Alysson Nogueira.</p>
            <a class="waves-effect waves-light btn" onclick="try{ga('send', 'event', 'atHome', 'homeGitInfo')}catch(exception){};location.href='https://github.com/Naraujo13'"><i class="material-icons right">cloud_download</i>Ir ao Git do desenvolvedor</a> 
    </div>
    <div class='col s4 hide-on-med-and-down'>
        <img  style='width:80%; height:auto; -webkit-transform: scaleX(-1); transform: scaleX(-1);' src="/assets/logo/spartan_teste.jpg">
    </div>
    
</div>

</div>

        <footer class="page-footer" style="padding-bottom:10px; margin-top:10px;">
          <div class="container">
            <div class="row hide-on-med-and-down">
              <div class="left col l4">
               
                <h5 class="white-text">© Spartan | <%=Time.now.year%> </h5>
              </div>
                  <div class="right-align col l8" style="padding-top:8px">
       <a class="waves-effect waves-light btn"  onclick="location.href='/public/policy/privacy'"><i class="material-icons right">security</i><%=t'policy_privacy'%></a>    
          <a class="waves-effect waves-light btn" onclick="location.href='/public/policy/terms'"><i class="material-icons right">gavel</i><%=t'policy_terms_of_use'%></a>   
    </div>    
              </div>
              <div class="row  hide-on-large-only">
                           <div class="center col s12 ">
               
                <h5 class="white-text">© Spartan | <%=Time.now.year%> </h5>
              </div>
           <div class="center-align col s12">
        <a class="waves-effect waves-light btn"  onclick="location.href='/public/policy/privacy'"><i class="material-icons right">security</i></a>    
          <a class="waves-effect waves-light btn" onclick="location.href='/public/policy/terms'"><i class="material-icons right">gavel</i></a> 
           </div>
            </div>
          </div>
        </footer>

<script>
	try{ga('send', 'event', 'atHome', 'homeVisitation')}catch(exception){};
</script>
