<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @system_help_category.description %>
</p>

<%= link_to 'Edit', edit_system_help_category_path(@system_help_category) %> |
<%= link_to 'Back', system_help_categories_path %>
