<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="page gap" style='font-weight: 400; text-decoration: none; padding: 0px 5px;color:#black; font-size: 20px;'><%= t('views.pagination.truncate').html_safe %></span>
